<div class="grid" ng-init="page=1;pageSize=3">
    <table>
        <thead>
        <tr>
            <th ng-repeat="c in data.head.columns">{{c.label}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in data.body.rows | paginate:page:pageSize" ng-class="r.entity">
            <td ng-repeat="c in r.cells"><input ng-model="c.value" ng-class="c.field"></td>
        </tr>
        </tbody>
    </table>
    <div class="paginator" ng-show="data.body.rows.length > pageSize">
        <img src="img/prev.png" alt="Previous page" ng-click="previousPage()">
        <span>Page {{page}} of {{totalPages()}}</span>
        <img src="img/next.png" alt="Next page" ng-click="nextPage()">
    </div>
</div>